body {
  margin: 5% 10%;
  font-family:'Times New Roman', Times, serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  text-align: center;
  border-bottom: 2px solid gold;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

button, input {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
