* {
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: rgb(0, 7, 31);
}

body {
    background-color: rgb(198, 241, 221);
}

.top {
    align-items: center;
}

.left {
    background-color: rgb(255, 173, 96);
    padding: 10px;
}

.right {
    background-color: rgb(217, 83, 79);
    padding: 10px;

}

h1 {
    text-transform: uppercase;
}

a[href] {
    color: rgb(0, 100, 250);
}

a:hover {
    color: rgb(0, 133, 82);
}

.ingredients,
    .steps {
    background-color: rgb(255, 238, 173);
    padding: 5px;
    padding-top: 2px;
}

.equipment {
    background-color: khaki;
    padding: 5px;
    padding-top: 2px;;
}

figcaption {
    font-family: sans-serif;
    font-size: 10px;
    width: 500px;
    text-align: center;
}
